@model IEnumerable<Zadatak1.Models.TodoItem>

@{
    ViewData["Title"] = "Home Page";
}

    <h2>Active Todo</h2>
    <p>
        <a asp-action="Add">Add todo</a> <a asp-action="Completed">Completed todos</a>
    </p>
    @foreach (var item in Model)
    {
        <p><b>@item.Text</b></p>
            <p>@item.DateCreated</p>
            <a asp-controller="Todo" asp-action="MarkCompleted" asp-route-guid="@item.Id">Mark as completed</a>
            <hr />
    }